.top
{   
    display:flex;
    height:200px;
    width:100%;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    background-color: aliceblue;

}

.bottom
{
    overflow:auto;
    display: flex;
    justify-content: center;
    
}
table{
    border-collapse: collapse;
}
td, th 
{           
            margin-top: 10px;
            border: 1px solid red; 
            padding: 8px;
            text-align: center;
            border-spacing: 0px;
            column-width: 120px;
}
.searchIcon
{
    width:30px;
}
.searchButton{
border:0px;
}